* {
    padding: 0;
    margin: 0;
  }
  /*  Для стилей используйте параметры:
background-color: #34495E 
border-radius: 20px 
padding: 21px   */
  body {
    padding: 20px 10px;
    margin-bottom: 20px;
    background-color: wheat;
    font-family: Georgia, 'Times New Roman', Times, serif ;
  }
  
  .title{
    margin: 30px;
    margin-bottom: 25px;
    color: black;
    font-weight: normal;
    font-size: 20px;
  
  }
  
  .infocell {
    background-color: #34495E; 
    color: whitesmoke;
    border: 1px solid grey;  
    font-size: 15px;
    border-radius: 20px;
    padding: 21px;
    margin: 10px 10px;  
  }