*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #FFFFFF;
    font-family: 'Nunito';
    font-style: normal;
}

.main {
    font-family: 'Nunito';
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px; 
    margin: 32px;
}

form {
    width: 420px;
    height: 426px;
    padding: 40px 32px;
    
    box-shadow: 0px 2px 8px rgba(40, 41, 61, 0.08), 0px 20px 32px rgba(96, 97, 112, 0.24);
    border-radius: 20px;
    font-family: 'Nunito', sans-serif;
}

h1 {
    font-weight: normal; 
    font-weight: 600;
    font-size: 28px;
}

img {
    position: relative;
    left: 90%;
}

.form-content {
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: flex-start;
    padding: 7px; 
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    box-sizing: border-box;
}

.form-content>*:not(:last-child) { 
        margin-bottom: 16px;
}

input {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #FFE44D;
    padding: 8px;
    border-radius: 5px; 
      color: #1A1A1A;
}

input::placeholder {
   
    font-style: normal;
    font-weight: 400;
}

input:focus {  
    box-shadow: 5px 5px 7px black;
    outline: none; 
}

input:hover {   
     transform: scale(1.1); 
}

.registration {
    width: 356px;
    height: 48px;
    border-radius: 55px;
    background-color: #FFE44D;
    padding: 10px;
    border: none;
    transition: transform 0.5s ease-in-out 0s; 
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

.registration:hover {
    width: 356px;
    height: 48px;
    border-radius: 55px;
    background-color: #bdbd98;
    padding: 10px;
    border: none;
    transition: transform 0.5s ease-in-out 0s; 
   }

.enter {
    width: 356px;
    height: 48px;
    border-radius: 55px;
    background-color: #FFFFFF;
    padding: 10px;
    border: 1px solid grey;
    transition: transform 0.5s ease-in-out 0s; 
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

.enter:hover {
    width: 356px;
    height: 48px;
    border-radius: 55px;
    background-color: #bdbd98;
    padding: 10px;
    border: none;
    transition: transform 0.5s ease-in-out 0s; 
    
}
.agreement {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #7B8E98;
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

p {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px; 
    color: #7B8E98;
}